<h1>Student Form</h1>
<form action="<%=students_path%>" method="Post">
  <label>Student Name:</label><br>
    <input type="text" id="first_name" name="first_name" value="first name"><br>
    <input type="text" id="last_name" name="last_name" value="last name"><br>
    <input type="submit" value="Submit Student">
</form>
